/* *{
    margin: 0;
    padding: 0;
} сброс отступов*/ 
/* body{
    border-top: solid;
} */
.box {
    font: 20px sans-serif;
    background-color:skyblue;
    width: 500px; /*ширина*/
    /*width: 50vw; */
    /*height: 150px; /*высота*/
    /*min-height: 100px; 
    max-height: 200px;*/
    /*height: 50vh; */
    /*overflow: auto; /* visible | hidden | scroll | auto */
    border-width: 5px;
    border-color: darkorchid;
    border-style: solid; /* none отсутсвие границы | solid| dotted | dashed | double*/
    text-align: justify;
    line-height: 1;
    border-right-color: red;
    /*border-bottom-style: dashed; дизаин границ
    border-bottom-width: 10px;*/
    border-bottom: 10px dashed;
    /*border: solid;*/
    /*padding: 20px; отступ между границей и текстом со всех сторон*/
    /*padding: 20px 100px 50px 0;*/
    padding: 50px 100px 100px; 
    margin: 20px auto 100px;
}
/*
   100vh - 100% видимой области высоты окна браузера (viewport)
   100vw - 100% видимой области ширины окна браузера (viewport)

*/
.menu{
    width: 610px;
    background: red;
    margin: 0 auto;
    list-style-type: none;
    font: 30px fantasy;
    color: cornsilk;
}
a{
    color: inherit; /*уноследовать цвет у родителя*/
    text-decoration: none;
}
